.haruki-sign {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    background-color: #371056;
    border-bottom-left-radius: 8px;
    height: 32px;
    align-items: center;
}
.sig-link, .sig-link:visited {
    text-decoration: none!important;
    color: white;
    display: flex;
    align-items: center;
}

.post:has(.haruki-sign) {
    padding: 0;
    border-bottom-left-radius: 8px;
}

.post-signature:has(.haruki-sign) {
    font-size: 0;
}

.haruki-sign .links {
    display: flex;
    align-items: center;
    gap: 4px;
}

.haruki-sign p {
    position: absolute;
    left: 10px;
    font-style: italic;
    text-transform: uppercase;
}

