.post:not(:has(.haruki)) .haruki-sign {
    display: none;
}

.post:not(:has(.takeru)) .takeru-sign {
    display: none;
}

.post:not(:has(.harukietakeru)) .harukietakeru-sign {
    display: none;
}

.haruki-sign, .takeru-sign, .harukietakeru-sign {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    border-bottom-left-radius: 8px;
    height: 32px;
    align-items: center;
}

.haruki-sign {
    background-color: #371056;
}

.takeru-sign {
    background-color: #561010;
}


/* gradient */
.harukietakeru-sign {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #371056 0%, #561010 100%);
    font-style: italic;
    text-transform: uppercase;
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.sig-link, .sig-link:visited {
    text-decoration: none!important;
    color: white;
    display: flex;
    align-items: center;
}

.post:has(.haruki-sign), .post:has(.takeru-sign), .post:has(.harukietakeru-sign) {
    padding: 0;
    border-bottom-left-radius: 8px;
}

.post-signature:has(.haruki-sign), .post-signature:has(.takeru-sign), .post-signature:has(.harukietakeru-sign) {
    font-size: 0;
}

.haruki-sign .links, .takeru-sign .links, .harukietakeru-sign .links {
    display: flex;
    align-items: center;
    gap: 4px;
}

.haruki-sign p, .takeru-sign p {
    position: absolute;
    left: 10px;
    font-style: italic;
    text-transform: uppercase;
}

.harukietakeru-sign p a {
    color: inherit;
    text-decoration: none;
}
