.haruki-sign {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    background-color: #8067b7;
    border-bottom-left-radius: 8px;
    height: 28px;
}
.sig-link, .sig-link:visited {
    text-decoration: none!important;
    color: white;
}

.post:has(.haruki-sign) {
    padding: 0;
}

.post-signature:has(.haruki-sign) {
    font-size: 0;
}